<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>upload demo-</title>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
</head>
<body>
<H1>preview</H1>
<div style="width:200px;height: 200px" id="divPreview"></div>
resource :http://r.sparrowzoo.net
<H2>resource</H2>
<iframe id="null.resource" class="file-frame"
        src="./file-upload?path-key=resource"></iframe>
</body>
</html>


