<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>原生上传示例</title>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <script language="JavaScript">
        $ = {
            file: {
                uploadCallBack: function (uploadingProgress) {

                    if (uploadingProgress&&uploadingProgress.error) {
                        alert(uploadingProgress.error)
                        return true;
                    }

                    if (!uploadingProgress.fileUrl) {
                        return;
                    }
                    var divContainer = document.getElementById("divPreview");
                    if (divContainer != null) {
                        divContainer.innerHTML=uploadingProgress.fileUrl+
                            "<a href='" +
                            uploadingProgress.fileUrl +
                            "' target='_blank'><img src='" +
                            uploadingProgress.fileUrl +
                            "'/></a>";
                    }
                },
                validateUploadFile:function (f, key, editor) {
                    $.file.clientFileName = f.value;
                    this.uploadFrameId = (editor ? editor.obj : "null") + "." + key;
                    var uploadFrame = document.getElementById(this.uploadFrameId);
                    uploadFrame.contentWindow.document.forms[0].submit();
                    console.log("submit"+new Date())
                }
            }
        }
    </script>
</head>
<body>
<H1>预览</H1>
<div style="width:200px;height: 200px" id="divPreview">

</div>
resource :http://r.sparrowzoo.net
<H2>资源上传</H2>
<iframe id="null.resource" class="file-frame"
        src="./file-upload?path-key=resource"></iframe>
</body>
</html>


